.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    border: solid;
    
}
.head{
    border: solid;
    width: 90vh;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1 ;
}